.headshot-container {
	display: inline-block;
  position: relative;
	background: white;
	clip-path: circle(73px at center);
	width: 150px;
  height: 150px;
}

.headshot-image {
	clip-path: circle(73px at center);
	width: 144px;
  height: 144px;
	position: absolute;
  top: 3px; /* equal to border thickness */
  left: 3px; /* equal to border thickness */
}

.landing-banner{

}

.backdrop-image-container{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.backdrop-body{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
}

.landing-image{
	max-height: 100%;
	max-width: 100%;
	display: block;
}
.tint {
  position: relative;
  background: rgba(74,74,74, 0.65);
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(74,74,74, 0.65);
  transition: all .3s linear;
}

.title {
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
	font-size: 28px;
	width: 100%;
	margin: 0 auto;
	letter-spacing: 0.12em;
}

.social-icons-container{
	display: flex;
	width: 100%;
    align-items: center;
    justify-content: center;
    float: left;
    margin-top: 22px;
}
.social-icon-container{
	height: 32px;
	width: 32px;
	margin-left: 10px;
	margin-right: 10px;
}
.social-icon{
	max-height: 100%;
	max-width: 100%;
	display: block;
	height: 32px;
	width: 32px;
}
.github{
	background: url('/github.png') center top no-repeat;
	height: 100%;
	width: 100%;

}
.linkedin{
	background: url('/linkedin.png') center top no-repeat;
}
/*.social-icon:hover, .social-icon:focus{
	background: rgba(74,74,74, 0.65);
}*/
.separator{
	margin-left: 8px;
	margin-right: 8px;
}
.landing-backdrop-body{
	position: absolute;
}
