@import 'style/utils.sass'

@use "sass:map"
@use "sass:string"

.banner-image
  background-repeat: no-repeat
  background-size: cover
  background-position: 50% 50%
  border-bottom: map-get($borders, 'dark')
  filter: brightness(60%)

  $banner-height: map-get($banner-heights, 'regular')
  max-height: vhify($banner-height)
  padding-top: vhify(0.5 * $banner-height)
  padding-bottom: vhify(0.5 * $banner-height)

  @include breakpoint($mobile)
    $banner-height: map-get($banner-heights, 'mobile')
    max-height: vhify($banner-height)
    padding-top: vhify(0.5 * $banner-height)
    padding-bottom: vhify(0.5 * $banner-height)

.banner-body
  position: relative
  display: flex
  flex-direction: column

  $banner-height: map-get($banner-heights, 'regular')
  top: vhify(-1 * $banner-height)
  height: vhify($banner-height)

  @include breakpoint($mobile)
    $banner-height: map-get($banner-heights, 'mobile')
    top: vhify(-1 * $banner-height)
    height: vhify($banner-height)

  .banner-body-content
    margin: auto
    display: inline-block
    text-align: center

    .headshot-container
      display: inline-block
      position: relative
      background: white
      clip-path: circle(45px at center)
      -webkit-clip-path: circle(45px at center)
      width: 100px
      height: 100px
      margin-bottom: 12px

      @include breakpoint($mobile)
        width: 110px
        height: 110px
        clip-path: circle(55px at center)
        -webkit-clip-path: circle(55px at center)

      @include breakpoint($tablet)
        width: 120px
        height: 120px
        clip-path: circle(60px at center)
        -webkit-clip-path: circle(60px at center)

      @include breakpoint($laptop-up)
        width: 130px
        height: 130px
        clip-path: circle(65px at center)
        -webkit-clip-path: circle(65px at center)

      .headshot
        position: absolute
        top: 2px
        left: 2px

        clip-path: circle(43px at center)
        -webkit-clip-path: circle(43px at center)
        width: 96px
        height: 96px

        &:hover
          filter: brightness(0.6)

        @include breakpoint($mobile)
          width: 106px
          height: 106px
          clip-path: circle(53px at center)
          -webkit-clip-path: circle(53px at center)

        @include breakpoint($tablet)
          width: 116px
          height: 116px
          clip-path: circle(58px at center)
          -webkit-clip-path: circle(58px at center)

        @include breakpoint($laptop-up)
          width: 126px
          height: 126px
          clip-path: circle(63px at center)
          -webkit-clip-path: circle(63px at center)

    h1.title
      font-weight: map-get($fontweights, "regular")
      color: map-get($colors, "white")
      width: 100%
      display: inline-block
      margin-bottom: 14px

    h2.sub-title
      color: map-get($colors, "white")
      font-weight: map-get($fontweights, "regular")
      display: inline-block
      margin-bottom: 6px

    .social-container
      display: flex
      width: 100%
      justify-content: center
      margin-top: 12px
