@import './colors.sass';
@import './fonts.sass';

$borders: (
  'regular': 1px solid $border_color,
  'light': 1px solid $border_color_light,
  'white': 1px solid $white,
  'blue': 1px solid $blue,
);

$fonts: (
  'opensans': $opensans,
  'roboto': $roboto,
  'lato': $lato
);

$fontweights: (
  "light": 300,
  "regular": 400,
  "medium": 600,
  "bold": 700
);

// Bootstrap Customization
$theme-colors: (
    "primary": $blue,
    "danger": $red,
    "success": $green,
);
