@import 'style/utils.sass'

@use "sass:map"
@use "sass:string"


.navbar
  height: 100%
  width: 100%
  display: flex
  // Override for Bootstrap
  padding: 0 !important
  align-items: flex-start !important

  &.overlay
    background-color: $navbar-color
    box-shadow: 0px 2px 2px 0 $shadow-color
    -webkit-filter: brightness(90%) contrast(90%) grayscale(10%)
    filter: brightness(90%) contrast(90%) grayscale(10%)

  .left
    flex-grow: 100
    display: flex
    padding-left: 6px

  .right
    display: flex
    padding-right: 6px

    .buttons
      display: flex

      @include breakpoint($mobile)
        display: none

      @include breakpoint($tablet)
        display: none

    .button-container
      margin-left: 8px
      margin-right: 8px
      padding-top: 15px
      padding-bottom: 15px
      display: flex

      &.menu
        padding-top: 10px
        padding-bottom: 10px
        display: none

        @include breakpoint($mobile)
          display: flex

        @include breakpoint($tablet)
          display: flex
