@import 'style/utils.sass'

@use "sass:map"
@use "sass:string"


.sidebar
  position: fixed
  transition-duration: 0.25s
  background-color: $sidebar-color
  // border-top: map-get($borders, "white")
  // border-left: map-get($borders, "white")
  top: pixelfy(map-get($heights, "header"))
  width: pixelfy(map-get($widths, "sidebar"))
  display: none
  box-shadow: -1px 1px 2px 0 $shadow-color

  @include breakpoint($mobile)
    display: block

  @include breakpoint($tablet)
    display: block

  &.visible
    right: 0px

  &.invisible
    right: pixelfy(-1 * map-get($widths, 'sidebar'))

  .button-container
    position: relative
    border-bottom: map-get($borders, "white")
    display: flex
    flex-direction: column

    &:last-child
      border-bottom: none
