@import 'style/utils.sass'

.page-item
  max-width: 800px
  position: relative
  text-align: left
  border-top: map-get($borders, 'light')
  max-width: 100%
  margin: 0px auto 10px auto
  padding-top: 10px
  padding-bottom: 10px

  &:last-child
    margin-bottom: 0px !important

  &.bordered
    border-radius: 5px
    border: map-get($borders, "regular")
    background-color: map-get($colors, "white")
    padding: 15px

    @include set-responsive-above("tablet")
      margin: 0px auto 15px auto

    @include set-responsive-above("laptop-l")
      margin: 0px auto 20px auto

  .header
    display: flex
    text-align: left
    margin-bottom: 6px

    .left
      display: inline-block
      margin-right: 6px
      min-width: 60px
      min-height: 60px
      max-width: 60px
      max-height: 60px

      @include set-responsive-above("tablet")
        margin-right: 10px
        min-width: 70px
        min-height: 70px
        max-width: 70px
        max-height: 70px

    .right
      padding-top: 5px
      padding-left: 5px

      > div:last-child
        margin-bottom: 0px !important

    .title
      margin-bottom: 6px

      @include set-responsive-above('tablet')
        margin-bottom: 7px

      @include set-responsive-above('laptop-s')
        margin-bottom: 8px

    .subtitle
      margin-bottom: 5px

      @include set-responsive-above('tablet')
        margin-bottom: 6px

      @include set-responsive-above('laptop-s')
        margin-bottom: 6px

    .header-items
      margin-bottom: 10px
      display: flex
      flex-direction: column
      flex-wrap: wrap

      @include set-responsive-above("tablet")
        flex-direction: row

      > .header-item
        margin-bottom: 2px
        margin-right: 12px

        &:last-child
          margin-bottom: 0px

        // For when the items are not nested one on top of the other.
        @include set-responsive-above("tablet")
          margin-bottom: 0px

  .body
    padding-left: 0px
    padding-top: 10px

    @include set-responsive-above("tablet")
      padding-left: 85px
      padding-top: 0px

    > .panel
      display: flex
      flex-direction: column
      margin-bottom: 14px
      text-align: left

      &:last-child
        margin-bottom: 0

      > .panel-item
        display: flex
        flex-direction: column
        margin-bottom: 10px

        &:last-child
          margin-bottom: 0px !important

        > .files
          margin-top: 2px
          > a
            font-weight: map-get($fontweights, 'light')
            margin-bottom: 4px
            &:last-child
              margin-bottom: 0px !important

  &.project
    margin-left: 0px !important

    .header
      display: inline-block
      margin-bottom: 10px

      .title
        margin-bottom: 0px !important

    .body
      margin-left: 0px !important
      padding-right: 0px !important
      padding-left: 0px !important

      .files-container
        display: inline-block

        .file
          display: flex
          flex-direction: column

          margin-bottom: 16px
          &:last-child
            margin-bottom: 0

          .image-container
            text-align: center
            border: map-get($borders, "light")
            margin-bottom: 8px
            padding: 1px

            img
              max-width: 100%

          p.description
            margin-bottom: 16px

          p.caption
            font-size: 12px
            color: map-get($colors, "text-gray")
