@import 'style/utils.sass'

.item
  max-width: 800px
  position: relative
  text-align: left
  border-top: map-get($borders, 'light')
  max-width: 100%
  margin: 0px auto 10px auto
  padding-top: 10px

  &:last-child
    margin-bottom: 0px !important

  &.bordered
    border-radius: 5px
    border: map-get($borders, "regular")
    background-color: map-get($colors, "white")
    padding: 10px

    @include set-responsive-above("tablet")
      padding: 15px
      margin: 0px auto 15px auto

    @include set-responsive-above("laptop-l")
      padding: 20px
      margin: 0px auto 20px auto

  .header
    display: flex
    text-align: left
    margin-bottom: 6px

    .left
      display: inline-block
      margin-right: 6px
      min-width: 60px
      min-height: 60px
      max-width: 60px
      max-height: 60px

      @include set-responsive-above("tablet")
        margin-right: 10px
        min-width: 70px
        min-height: 70px
        max-width: 70px
        max-height: 70px

    .right
      padding-top: 5px
      padding-left: 5px

      > div:last-child
        margin-bottom: 0px !important

    .title
      margin-bottom: 6px

    .subtitle
      margin-bottom: 6px

    .header-items
      margin-bottom: 10px
      display: flex
      flex-direction: row
      flex-wrap: wrap

      > div.header-item
        margin-bottom: 4px
        margin-right: 12px

      > div.header-item:last-child
        margin-bottom: 0px

  .body
    margin-left: 0px
    margin-top: 10px

    @include set-responsive-above("tablet")
      margin-left: 85px
      margin-top: 0px

    > .panel
      color: map-get($colors, 'text-tertiary')
      margin-bottom: 10px
      text-align: left

      &:last-child
        border-bottom: none
        margin-bottom: 0
        padding-bottom: 0

      > p
        margin-bottom: 8px
        &:last-child
          margin-bottom: 0px

      > .panel-header
        margin-bottom: 12px

      > .panel-content

        > .panel-content-item
          margin-bottom: 10px
          &:last-child
            margin-bottom: 0px !important

          > p
            margin-bottom: 6px
            &:last-child
              margin-bottom: 0px

          > .name
            font-family: map-get($fonts, 'opensans')
            font-weight: map-get($fontweights, 'regular')

          > .description
            color: map-get($colors, 'text-tertiary')

          > .files
            margin-top: 12px
            margin-bottom: 14px
            > a
              font-weight: map-get($fontweights, 'light')
              margin-bottom: 4px
              &:last-child
                margin-bottom: 0px !important

  &.project
    max-width: 1200px
    margin-left: 0px !important

    .header
      display: inline-block
      margin-bottom: 10px

      .title
        margin-bottom: 0px !important

    .body
      margin-left: 0px !important

      .descriptions
        margin-bottom: 8px
        > p
          text-align: left
          margin-bottom: 8px
          &:last-child
            margin-bottom: 0px !important

      .files-container
        display: inline-block

        .file
          margin-bottom: 16px

          img
            max-width: 100%
            margin-bottom: 8px
            border: map-get($borders, "light")

          p.description
            margin-bottom: 16px

          p.caption
            margin-bottom: 16px
            font-size: 12px
            color: map-get($colors, "text-gray1")
