@import 'style/utils.sass'

@use "sass:map"
@use "sass:string"


.landing-page
  display: flex
  flex-direction: column

  .landing-container
    position: relative
    padding: 20px
    overflow-y: scroll

    $banner-height: map-get($heights, "banner")
    $footer-height: map-get($heights, "footer")
    $inverse-banner-height: -1 * map-get($heights, 'banner')

    max-height: unquote("calc(" + vhify($banner-height) + " - " + pixelfy($footer-height) + ")")
    height: unquote("calc(" + vhify(100) + " - " + vhify($banner-height) + ")")
    margin-top: vhify($inverse-banner-height)

    .page-content
      max-width: 800px
      margin: 0 auto

      h3.intro
        font-style: italic
        font-weight: map-get($fontweights, "regular")
        text-align: center
        margin-bottom: 32px

        font-size: 12px
        line-height: 18px

        @include set-responsive-above("tablet")
          font-size: 14px
          line-height: 20px

        @include set-responsive-above("laptop-s")
          font-size: 16px
          line-height: 22px

      .comments
        margin-bottom: 20px

.page
  padding: 25px
  margin: 0 auto
  margin-top: pixelfy(map-get($heights, 'header'))
  max-width: 800px

  .page-header-container
    margin: 0px auto 20px auto
    border: map-get($borders, 'regular')
    border-radius: 5px
    background-color: map-get($colors, 'white')
    padding: 8px

    .page-header
      margin: 0
      text-align: center

  .page-content
    text-align: center
    margin: 20px auto 0px auto
