// Text
$black:  #000000;
$text-1: #282828;
$text-2: #3C3C3C;
$text-3: #474747;
$text-4: #5F5F5F;
$text-5: #838383;

$hover-gray:						rgba(242, 242, 242, 1.0);

// Brand
$white:								#FFF;
$blue: 								#0073B1;

// Colorful
$yellow:                            rgba(255, 231, 97, 1.0);
$yellow-alpha:           			rgba(255, 231, 97, 0.9);
$yellow-fade:           			rgba(255, 231, 97, 0.6);
$yellow-tint:						rgba(255, 231, 97, 0.25);

$red:                               rgba(255, 92, 80, 1.0);
$red-alpha:							rgba(255, 92, 80, 0.9);
$red-fade:							rgba(255, 92, 80, 0.6);
$red-tint:							rgba(255, 92, 80, 0.1);

$green:                             rgba(61, 185, 135, 1.0);
$green-alpha:                       rgba(61, 185, 135, 0.9);
$green-fade:                        rgba(61, 185, 135, 0.60);
$green-tint:                        rgba(61, 185, 135, 0.25);

$orangered:                         #F46C43;
$orange:                            #ff9800;
