@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap')
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&display=swap')
@import url('http://fonts.googleapis.com/css?family=Lato:300,400,400i,500,600,700&display=swap')

// Must import bootstrap after constants are imported but before overrides are imported.
@import './utils.sass'
@import '~bootstrap/scss/bootstrap'
@import './typography.sass'
@import './override.sass'

@use "sass:map"
@use "sass:string"

.app
  height: 100vh
  display: flex

  header
    position: fixed
    z-index: 900
    top: 0
    width: 100%
    height: pixelfy(map-get($heights, "header"))

  .content
    width: 100%
    position: relative
    max-height: unquote("calc(" + vhify(100) + " - " + pixelfy(map-get($heights, "footer")) + " - " + pixelfy(map-get($heights, "header")) + ")")
    top: pixelfy(map-get($heights, 'header'))
    display: flex
    flex-direction: column
    overflow-y: visible
    flex-grow: 1
