@import './maps.scss'
// Must import bootstrap after maps are imported but before overrides are imported.
@import '~bootstrap/scss/bootstrap'
@import './override.scss'
@import './fonts.scss'

@use "sass:map"


body
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: map-get($colors, "text_primary")

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace
  color: map-get($colors, "text_primary")

a
  font-family: $roboto
  text-decoration: none !important
  color: map-get($colors, 'blue')
  &:hover
    text-decoration: none !important
    color: lighten( map-get($colors, 'blue'), 30% )

h1, h2, h3, h4, h5, h6
  margin-top: 0px
  font-family: $opensans

h1
  margin-bottom: 14px
  font-size: 26px
  line-height: 26px
  font-weight: map-get($fontweights, "medium")
  color: map-get($colors, "text_primary")
  letter-spacing: 0.02em

h2
  margin-bottom: 12px
  font-size: 22px
  line-height: 22px
  font-weight: map-get($fontweights, "medium")
  color: map-get($colors, "text_secondary")
  letter-spacing: 0.02em

h3
  margin-bottom: 10px
  font-size: 20px
  line-height: 20px
  font-weight: map-get($fontweights, "medium")
  color: map-get($colors, "text_secondary")
  letter-spacing: 0.02em

h4
  margin-bottom: 10px
  font-size: 18px
  line-height: 18px
  font-weight: map-get($fontweights, "regular")
  color: map-get($colors, "text_tertiary")

h5
  margin-bottom: 10px
  font-size: 16px
  line-height: 16px
  font-weight: map-get($fontweights, "regular")
  color: map-get($colors, "text_tertiary")

h6
  margin-bottom: 8px
  font-size: 14px
  line-height: 14px
  font-weight: map-get($fontweights, "regular")
  color: map-get($colors, "textgray1")

p
  margin-top: 0px
  margin-bottom: 0px
  font-size: 14px
  line-height: 18px
  font-family: $roboto
  font-weight: map-get($fontweights, "light")
  color: map-get($colors, "text_secondary")


ul
  display: block
  list-style-type: disc
  margin-block-start: 1em
  margin-block-end: 1em
  margin-inline-start: 0px
  margin-inline-end: 0px
  padding-inline-start: 16px

ul li:not(:last-child)
  margin-bottom: 12px
