
@use "sass:map"
@use "sass:string"

.app
  height: 100vh
  display: flex

  header
    position: fixed
    z-index: 900
    top: 0
    width: 100%
    height: pixelfy(map-get($heights, "header"))

  .content
    width: 100%
    position: relative
    max-height: unquote("calc(" + vhify(100) + " - " + pixelfy(map-get($heights, "footer")) + " - " + pixelfy(map-get($heights, "header")) + ")")
    top: pixelfy(map-get($heights, 'header'))
    display: flex
    flex-direction: column
    overflow-y: visible
    flex-grow: 1

    .page
      position: relative
      max-height: 100%
      display: flex
      flex-grow: 1
      flex-direction: column
      overflow-y: scroll

      .header-container
        margin: 0px auto 20px auto

        .title
          margin: 0
          text-align: center

    .landing-page
      display: flex
      flex-direction: column
      top: pixelfy(-1 * map-get($heights, 'header'))
      position: absolute
      width: 100%

      .page
        background-color: map-get($colors, "background")

        $banner-height: map-get($heights, "banner")
        $footer-height: map-get($heights, "footer")
        $inverse-banner-height: -1 * map-get($heights, 'banner')

        max-height: unquote("calc(" + vhify($banner-height) + " - " + pixelfy($footer-height) + ")")
        height: unquote("calc(" + vhify(100) + " - " + vhify($banner-height) + ")")
        margin-top: vhify($inverse-banner-height)

        h3.intro
          font-weight: map-get($fontweights, "regular")
          text-align: center
          margin-bottom: 10px

          font-size: 12px
          line-height: 18px

          @include set-responsive-above("mobile-l")
            font-size: 13px
            line-height: 19px

          @include set-responsive-above("tablet")
            font-size: 14px
            line-height: 20px
            margin-bottom: 15px

          @include set-responsive-above("laptop-l")
            margin-bottom: 20px

        .comments
          margin-bottom: 10px

          @include set-responsive-above("tablet")
            margin-bottom: 15px

          @include set-responsive-above("laptop-l")
            margin-bottom: 20px
