@use "sass:map"
@use "sass:string"

$banner-height: vhify(map-get($heights, "banner"))
$footer-height: pixelfy(map-get($heights, "footer"))
$header-height: pixelfy(map-get($heights, "header"))

.app
  height: 100vh
  display: flex

  header
    position: fixed
    z-index: 900
    top: 0
    width: 100%
    height: pixelfy(map-get($heights, "header"))

  .content
    width: 100%
    position: relative
    overflow-y: visible

    .page
      max-height: unquote("calc(" + vhify(100) + " - " + $footer-height + " - " + $header-height + ")")
      top: $header-height
      position: relative
      overflow-y: scroll
      width: 100%

      .container
        .header-container
          margin: 0px auto 20px auto

          .title
            margin: 0
            text-align: center

      &.landing
        background-color: map-get($colors, "background")
        max-height: unquote("calc(" + vhify(100) + " - " + $banner-height + " - " + $footer-height + ")")
        height: unquote("calc(" + vhify(100) + " - " + $banner-height + " - " + $footer-height + ")")
        top: $banner-height
        position: absolute

        .container
          max-width: 720px

        h3.intro
          font-weight: map-get($fontweights, "regular")
          text-align: center
          margin-bottom: 10px

          font-size: 12px
          line-height: 18px
          margin-bottom: 15px

          @include set-responsive-above("mobile-l")
            font-size: 13px
            line-height: 19px

          @include set-responsive-above("tablet")
            font-size: 14px
            line-height: 20px

        .comments
          margin-bottom: 15px
