@import './fonts.scss';

$border_color: #dedede;

$colors: (
  "white": #FFF,
  "black": #000000,
  "primary": #282828,
  "secondary": #3C3C3C,
  "gray1": #474747,
  "gray2": #5F5F5F,
  "gray3": #838383,
  "blue": #2196f3,
  "green": rgba(61, 185, 135, 1.0),
  "orange": #ff9800,
  "orangered": #F46C43,
  "red": rgba(255, 92, 80, 1.0),
  "yellow": rgba(255, 231, 97, 1.0),
  "icon": #838383,
  "navbar": rgba(65, 65, 65, 0.8),
  "footer": rgba(65, 65, 65, 0.8),
  "background": rgb(250, 250, 250),
  "border": $border_color,
);

$borders: (
  'regular': 1px solid $border_color,
);

$fonts: (
  'opensans': $opensans,
  'roboto': $roboto
);

$heights: (
  'footer': 40px,
  'header': 60px
);

$fontweights: (
  "light": 300,
  "regular": 400,
  "medium": 600,
  "bold": 700
);
