@import './fonts.scss';

// Colors
$black: #000000;
$white: #FFFFFF;
$blue: #2196F3;
$green: rgba(61, 185, 135, 1.0);
$red: rgba(255, 92, 80, 1.0);

// Text
$text_primary: #282828;
$text_secondary: #3C3C3C;
$text_tertiary: #474747;
$textgray1: #5F5F5F;
$textgray2: #838383;

// Borders
$border_color: #DEDEDE;
$border_color_light: #EFEFEF;

// Icons
$icon_color: $textgray2;

// Branding
$background_color: rgb(250, 250, 250);
$navbar_color: rgba(65, 65, 65, 0.8);
$footer_color: rgba(65, 65, 65, 0.8);

$colors: (
  "white": $white,
  "black": $black,
  "text_primary": $text_primary,
  "text_secondary": $text_secondary,
  "text_tertiary": $text_tertiary,
  "textgray1": $textgray1,
  "textgray2": $textgray2,
  "blue": $blue,
  "green": $green,
  "red": $red,
  "icon": $icon_color,
  "navbar": $navbar_color,
  "footer": $footer_color,
  "background": $background_color,
  "border": $border_color,
);

$borders: (
  'regular': 1px solid $border_color,
  'light': 1px solid $border_color_light,
  'white': 1px solid $white,
  'blue': 1px solid $blue,
);

$fonts: (
  'opensans': $opensans,
  'roboto': $roboto
);

$heights: (
  'footer': 40px,
  'header': 60px
);

$fontweights: (
  "light": 300,
  "regular": 400,
  "medium": 600,
  "bold": 700
);


// Bootstrap Customization
$theme-colors: (
    "primary": $blue,
    "danger": $red,
    "success": $green,
);
