@import '../style/constants';


.item {
  display: flex;
  max-width: 800px;
  margin: 0px auto 20px auto;
  border: 1px solid #EFEFEF;
  border-radius: 5px;

  &:hover {
    background-color: #EFEFEF;
  }
  .left-container {
    max-width: 100px;
    max-height: 100px;
    padding: 10px;

    .image {
      height: 80px;
      width: 80px;
    }
  }
  .right-container {
    padding: 12px;
    text-align: left;

    .title {
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 8px;
      font-family: $opensans;
      font-weight: 400;
      color: $text-1;
      letter-spacing: 0.02em;
    }
    .sub-title {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 2px;
      font-family: $opensans;
      font-weight: 400;
      color: $text-2;
    }
    .description {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 2px;
      font-family: $roboto;
      font-weight: 300;
      color: $text-2;
    }
    .header-items {
      margin-bottom: 6px;
      margin-top: 8px;
      .text {
        margin-bottom: 4px;
        font-size: 14px;
        line-height: 14px;
        font-family: $opensans;
        font-weight: 300;
      }
    }
    .footer-items {
      margin-bottom: 6px;
      .text {
        margin-bottom: 4px;
        font-size: 14px;
        line-height: 14px;
        font-family: $opensans;
        font-weight: 300;
      }
    }
    .iconized-text {
      display: flex;
    }
  }
}
