.nav-bar{
	height: 100%;
	width: 100%;
	display: flex;

	&.overlay {
		background: rgba(74,74,74, 0.65);
	}
	.nav-right{
		display: flex;
		padding-right: 6px;
	}
	.nav-left{
		flex-grow: 100;
		display: flex;
		padding-left: 6px;
	}
	.nav-bar-logo-container{
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.nav-bar-logo{
		font-family: 'Raleway', sans-serif;
		color: #FFFFFF;
		font-size: 18px;
		font-weight: 300;
		line-height: 30px;
	}
	.nav-bar-button-container{
		margin-left: 10px;
		margin-right: 10px;
		padding-top: 16px;
		padding-bottom: 16px;
	}
	.nav-bar-button{
		font-family: 'Muli', sans-serif;
		color: #FFFFFF;
		font-size: 12px;
		font-weight: 300;

		width: 100%;
		margin: 0 auto;

		padding: 7px 9px;
		border: 1px solid #FFFFFF;
		border-radius: 0px !important;
		text-transform: uppercase;
	}

}
